.header {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;
}