.theme_toggler {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: inherit;
    background-color: var(--text-white);
    padding: 15px;
    box-shadow: 0 0 4px hsl(0, 0, 80%);
    z-index: 10;
    transition: all 1s ease;
}
