.panel-container {
    width: 10%;
    height: 100vh;
    margin: 0;
    padding: 40px 10px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.052);
    /* box-shadow: 0 4px 80px rgba(0, 0, 0, 0.192); */
    justify-content: center;
}

.panel-head {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.panel-head > p {
  font-family: "Kanit", sans-serif;
    font-size: large;
    font-weight: 600;
}

.head-icon {
    margin-top: 7px;
}

.panel-main {
    margin-top: 50px;
    color: var(--color-gray);
}

.panel-tools > div {
    margin-bottom: 30px;
}

.addon {
    display: flex;
    gap: 8px;
    justify-content: start;
    text-transform: uppercase;
    font-size: small;
}

.addon > p {
    padding-top: 3px;
}

@media (max-width: 1293px) {
    .panel-container {
        width: 15%;
    }
}

@media (max-width: 900px) {
    .panel-container {
        width: 20%;
    }
}

@media (max-width: 700px) {
    .panel-container {
        display: none;
    }
}