.panel-container {
    width: 10%;
    height: 100vh;
    margin: 0;
    padding: 30px 20px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.052);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.192);
    justify-content: center;
}

.panel-head {
    display: flex;
    gap: 10px;
}

.panel-head > p {
  font-family: "Kanit", sans-serif;
    font-size: x-large;
    font-weight: 600;
}

.head-icon {
    margin-top: 7px;
}

.panel-main {
    margin-top: 50px;
    color: var(--color-gray);
    /* padding: 20px; */
}

.panel-tools > div {
    margin-bottom: 30px;
}

.addon {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

.addon-icon {
    padding-top: 5px;
}