.display-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: transparent; /* ensure radius shows */
  width: 100%;

}
  
.content-wrapper {
  flex: 1;              /* Take all remaining height */
  overflow-y: auto;     /* Scroll only content */
}
